item {
  position: relative;
  display: block;
  margin-left: 1px;
}

stamp {
  width: 6rem;
  float: right;
  padding-top: 0.5rem;
  color: #aaa;
}

tags {
  display: inline-block;
  height: 1.25rem;
}

textarea {
  all: unset;
  display: block;
  padding: 0.5rem;
  white-space: pre-wrap;
  width: calc(100% - 1rem);
}
