item {
  position: relative;
  display: block;
  margin: 1rem;
  border-radius: 0.5rem;
}

stamp {
  width: 8rem;
  float: right;
  padding-top: 0.5rem;
  color: #aaa;
}

tags {
  display: inline-block;
  transform: translate(-0.4rem, -0.2rem);
  height: 1.25rem;
}

textarea {
  all: unset;
  display: block;
  padding: 0.5rem;
  white-space: pre-wrap;
  width: calc(100% - 1rem);
}
